.b-lworks {
  text-align:center;

  &__btns {
    margin:auto;
  }

  &__post-title {
    margin:25px 0 110px 0;
  }

  &__images {
    margin-top:110px;
  }

  &__vbtn {
    margin-top:130px;
    padding:2em 5em;
  }
}
.b-page__lworks-line {
  padding:130px b-pnts(115px);
}
.b-lworks-title {
  text-transform:$title-tt;
}
.b-lworks-post-title {
  white-space:$title-ws;

  @media (max-width:$scr-w-lg) {
    white-space:normal;
  }
}
.b-lworks-btns {
  @include f-xy(center,initial);
  max-width: 760px;

  @media (max-width:$scr-w-s) {
    flex-direction:column;
  }

  &__btn {
    padding:2em;
    margin-right:20px;

    @media (max-width:$scr-w-s) {
      margin:0 0 b-pnts(30px) 0;
    }

    &:last-of-type {
      margin:0;
    }
  }
}
.b-lworks-btn {
  @extend %g-trans-btn;
  border:2px solid $btn-back-green;

  &:hover {
    animation-name:appearence,bor;
    background:$btn-back-green;
    color:white;
  }
}
.b-lworks-images {
  display: grid;
  grid-template: repeat(2,auto) / repeat(3,33%);
  gap: b-pnts(30px);
  justify-content: center;

  @media (max-width:$scr-w-m) {
    grid-template: repeat(3,auto) / repeat(2, 50%);
  }
  @media (max-width:$scr-w-s) {
    grid-template: repeat(6,auto) / repeat(1, 100%);
  }
}
.b-lworks-images-container {
  position:relative;

}
.b-lworks-images-img {
  height:auto;
  width:100%;
}
.b-lworks-images-img-l {
  @include c-ib(center,middle,center);
  background: black;
  height: 100%;
  width: 100%;
  opacity:0;
  position: absolute;
  top: 0;
  text-transform:capitalize;

  &:hover {
    animation-name:appearence-h;
    animation-duration:$short-a;
    animation-fill-mode:forwards;
    color:white;
  }
}
.b-lworks-images-title {
  @extend %center;
}
.b-lworks-vbtn {
  @extend %g-fill-btn;
  color:white;
  background:$btn-back-green;
}
