doctype html 
html(lang='zxx') 
  head
    title Hello World!!!
    meta(charset='UTF-8')
    link(rel='stylesheet',href='style/packages/Normalize.css')
    link(rel='stylesheet',href='style/style.css')
  body.b-page 
    header
    main 
    footer
