doctype html 
html(lang='zxx') 
  head
    title Hello World!!!
    meta(charset='UTF-8')
    link(rel='stylesheet',href='style/packages/Normalize.css')
    link(rel='stylesheet',href='style/style.css')
  body.b-page 
    header.b-page__header-line 
      h4.b-header-logo your logo 
      nav.b-header-nav.b-page__nav
      
        -let b_header_nav_link = ['home','about','servicing','portfolio','blog','contact us'];
        -for (let i of b_header_nav_link) {
          .b-header-nav-item.b-header-nav__item
            a(href='*')= i
        -}
        
        .b-header-nav-item.b-header-nav-item_search
          img(src='img/header/header-search.png',alt='img').b-header-search-img
      .b-header-nav.b-page__nav.b-header-nav_minw
        button(type='button').b-header-nav-item.b-header-nav__item_move menu 
        img(src='img/header/header-menu.png',alt='img').b-header-nav-img
    main 
      .b-head-info
        .b-head-container
          article.b-head-content
            h6.b-head-title Web development project
            h1.b-head-content__post-title.
              Very suitable to support all web 
              development projects 
            button(type='button').b-head-btn.b-head-content__btn.b-head-btn_white our services
            button(type='button').b-head-btn.b-head-content__btn.b-head-btn_green.b-head-content__btn_green hire is now
      article.b-abus.b-page__abus-line
        h5.b-abus-title about us 
        p.b-abus-post-title.b-abus__post-title. 
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        .b-abus-cols.b-abus__cols
        
          -let b_abus_col = ['awesome icons','one page','fully responsive'];
          -for (let i in b_abus_col) {
            section.b-abus-col.b-abus-cols__col
              img(src=`img/about/about-us-img${++i}.png`,alt='img').b-abus-col__img
              h2.b-abus-col-title.b-abus-col__title= b_abus_col[--i]
              p.b-abus-col-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
          -}
      article.b-service.b-page__service-line
        h5.b-service-title our services
        p.b-service-post-title.b-service__post-title.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        .b-services
        
          -let b_service_item = ['research','portfolio','support','documentation','development','design'];
          -for (let i of b_service_item) {
            section.b-service-item.b-services__item
              h2.b-service-item-title= i
              p.b-service-item-txt. 
                At vero eos et accusamus et iusto
                odio dignissimos ducimus qui bland
                itiis praesentium voluptatum iti 
                atque corrupti quos.
              .b-service-btn-container 
                button(type='button').b-service-item-btn.b-service-item__btn read more 
          -}      
        
    footer
