doctype html 
html(lang='zxx') 
  head
    title Hello World!!!
    meta(charset='UTF-8')
    link(rel='stylesheet',href='style/packages/Normalize.css')
    link(rel='stylesheet',href='style/style.css')
  body.b-page 
    header.b-page__header-line 
      h4.b-header-logo your logo 
      nav.b-header-nav.b-page__nav
      
        -let b_header_nav_link = ['home','about','servicing','portfolio','blog','contact us'];
        -for (let i of b_header_nav_link) {
          .b-header-nav-item.b-header-nav__item
            a(href='*')= i
        -}
        
        .b-header-nav-item.b-header-nav-item_search
          img(src='img/header/header-search.png',alt='img').b-header-search-img
      .b-header-nav.b-page__nav.b-header-nav_minw
        button(type='button').b-header-nav-item.b-header-nav__item_move menu 
        img(src='img/header/header-menu.png',alt='img').b-header-nav-img
    main 
      .b-head-info
        .b-head-container
          article.b-head-content
            h6.b-head-title Web development project
            h1.b-head-content__post-title.
              Very suitable to support all web 
              development projects 
            button(type='button').b-head-btn.b-head-content__btn.b-head-btn_white our services
            button(type='button').b-head-btn.b-head-content__btn.b-head-btn_green.b-head-content__btn_green hire is now
    footer
