@font-face {
  font-family:'OpenSans Bold';
  src:url(../fonts/OpenSans/OpenSans-Bold.ttf);
}
@font-face {
  font-family:'OpenSans SemiBold';
  src:url(../fonts/OpenSans/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family:'OpenSans Regular';
  src:url(../fonts/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
  font-family:'Roboto Bold';
  src:url(../fonts/Roboto/Roboto-Bold.ttf);
}
