@import 'fonts-init.css';
@keyframes trans-to {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.5);
  }
}
@keyframes trans-from {
  from {
    background: rgba(0, 0, 0, 0.5);
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes appearence {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes appearence-h {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes bor {
  from {
    border-radius: 0;
  }
  to {
    border-radius: 4px;
  }
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  padding: 0;
  border-width: 0;
  border-style: none;
  border-color: initial;
}

input {
  color: black;
  background-color: white;
  padding: 0;
  border-width: 0;
  border-style: none;
  border-color: initial;
  border-image: none;
}

h1, h2, .b-header-nav-item, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

h6 {
  font-family: "OpenSans SemiBold";
  font-size: clamp(24.6857142857px,4.2857142857vw,60px);
  text-transform: inherit;
  color: inherit;
  white-space: inherit;
  text-decoration: none;
}
@media (max-width: 350px) {
  h6 {
    font-size: 7.0530612245vw;
  }
}

h5 {
  font-family: "OpenSans Bold";
  font-size: max(2.1428571429vw,15px);
  text-transform: inherit;
  color: inherit;
  white-space: inherit;
  text-decoration: none;
}
@media (max-width: 1200px) {
  h5 {
    white-space: nowrap;
  }
}

h4 {
  font-family: "OpenSans Bold";
  font-size: clamp(13.7142857143px,1.7857142857vw,25px);
  text-transform: inherit;
  color: inherit;
  white-space: inherit;
  text-decoration: none;
}

h3 {
  font-family: "Roboto Bold";
  font-size: clamp(10.9714285714px,1.4285714286vw,20px);
  text-transform: inherit;
  color: inherit;
  white-space: inherit;
  text-decoration: none;
}

h2, .b-header-nav-item {
  font-family: "OpenSans SemiBold";
  font-size: clamp(14.1714285714px,1.4285714286vw,20px);
  text-transform: inherit;
  color: inherit;
  white-space: inherit;
  text-decoration: none;
}

h1 {
  font-family: "OpenSans Regular";
  font-size: clamp(10.9714285714px,1.4285714286vw,20px);
  text-transform: inherit;
  color: inherit;
  white-space: inherit;
  text-decoration: none;
}
@media (max-width: 350px) {
  h1 {
    font-size: 3.1346938776vw;
  }
}

p {
  font-family: "OpenSans Regular";
  font-size: clamp(12.8571428571px,1.0714285714vw,15px);
  text-transform: inherit;
  color: inherit;
  white-space: inherit;
  text-decoration: none;
}

.b-head-btn_green {
  font-family: "Roboto Bold";
  font-size: clamp(10.9714285714px,1.4285714286vw,20px);
  text-transform: uppercase;
  color: inherit;
  white-space: inherit;
  text-decoration: none;
}
.b-head-btn_green:hover {
  animation-name: bor;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.b-head-btn_white {
  font-family: "OpenSans SemiBold";
  font-size: clamp(10.9714285714px,1.4285714286vw,20px);
  text-transform: uppercase;
  color: inherit;
  white-space: inherit;
  text-decoration: none;
}
.b-head-btn_white:hover {
  animation-name: trans-to, bor;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.b-page__header-line {
  padding: 50px min(120px,8.5714285714vw);
}

.b-page__nav {
  float: right;
}

.b-header-logo {
  display: inline-block;
  text-transform: capitalize;
}

.b-header-nav {
  display: inline-block;
}
@media (max-width: 992px) {
  .b-header-nav {
    display: none;
  }
}
.b-header-nav__item {
  margin-right: 45px;
}
.b-header-nav__item:last-of-type {
  margin: 0;
}
.b-header-nav__item_move {
  margin-right: 10px;
}
.b-header-nav_minw {
  text-align: initial;
  display: none;
  float: right;
}
.b-header-nav_minw::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.b-header-nav-img, .b-header-nav-item {
  vertical-align: middle;
  display: inline-block;
}

@media (max-width: 992px) {
  .b-header-nav_minw {
    display: inline-block;
  }
}

.b-header-nav-item {
  text-transform: capitalize;
  display: inline;
}
@media (max-width: 350px) {
  .b-header-nav-item {
    display: none;
  }
}

.b-header-nav-img {
  height: 10px;
}

.b-head-info {
  display: table;
  width: 100%;
  background: url(../img/header/header-back.png);
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: calc(100vh - 100px - min(25px,1.7857142857vw));
  text-align: center;
  color: white;
}
.b-head-container {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

@media (max-aspect-ratio: 25/17) {
  .b-head-info {
    background: url(../img/header/header-back.png);
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
}

.b-head-content {
  display: inline-block;
}
.b-head-content__post-title {
  margin-top: 25px;
  margin-bottom: 110px;
}
.b-head-content__btn {
  margin-right: min(25px,1.7857142857vw);
  padding: 0 3em;
}
.b-head-content__btn:last-of-type {
  margin: 0;
}
.b-head-content__btn_green {
  padding: 0 calc(3em + 3px);
}

.b-head-btn {
  height: 5em;
}
@media (max-width: 325px) {
  .b-head-btn {
    display: none;
  }
}
.b-head-btn_white {
  font-family: "Roboto Bold";
  border: 3px solid white;
  background: transparent;
}
.b-head-btn_green {
  background: #00897b;
}