@import 'fonts-init.css';
@keyframes trans-to {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.5);
  }
}
@keyframes trans-from {
  from {
    background: rgba(0, 0, 0, 0.5);
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes appearence {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes appearence-h {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes bor {
  from {
    border-radius: 0;
  }
  to {
    border-radius: 4px;
  }
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  padding: 0;
  border-width: 0;
  border-style: none;
  border-color: initial;
}

input {
  color: black;
  background-color: white;
  padding: 0;
  border-width: 0;
  border-style: none;
  border-color: initial;
  border-image: none;
}

h1, h2, .b-contacts-inp, .b-header-nav-item, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

h6 {
  font-family: "OpenSans SemiBold";
  font-size: clamp(24.6857142857px,4.2857142857vw,60px);
  text-transform: inherit;
  color: inherit;
  white-space: inherit;
  text-decoration: none;
}
@media (max-width: 350px) {
  h6 {
    font-size: 7.0530612245vw;
  }
}

h5 {
  font-family: "OpenSans Bold";
  font-size: max(2.1428571429vw,15px);
  text-transform: inherit;
  color: inherit;
  white-space: inherit;
  text-decoration: none;
}
@media (max-width: 1200px) {
  h5 {
    white-space: nowrap;
  }
}

h4 {
  font-family: "OpenSans Bold";
  font-size: clamp(13.7142857143px,1.7857142857vw,25px);
  text-transform: inherit;
  color: inherit;
  white-space: inherit;
  text-decoration: none;
}

h3 {
  font-family: "Roboto Bold";
  font-size: clamp(10.9714285714px,1.4285714286vw,20px);
  text-transform: inherit;
  color: inherit;
  white-space: inherit;
  text-decoration: none;
}

h2, .b-contacts-inp, .b-header-nav-item {
  font-family: "OpenSans SemiBold";
  font-size: clamp(14.1714285714px,1.4285714286vw,20px);
  text-transform: inherit;
  color: inherit;
  white-space: inherit;
  text-decoration: none;
}

h1 {
  font-family: "OpenSans Regular";
  font-size: clamp(10.9714285714px,1.4285714286vw,20px);
  text-transform: inherit;
  color: inherit;
  white-space: inherit;
  text-decoration: none;
}
@media (max-width: 350px) {
  h1 {
    font-size: 3.1346938776vw;
  }
}

p {
  font-family: "OpenSans Regular";
  font-size: clamp(12.8571428571px,1.0714285714vw,15px);
  text-transform: inherit;
  color: inherit;
  white-space: inherit;
  text-decoration: none;
}

.b-contacts-inp_sub, .b-lworks-vbtn, .b-head-btn_green {
  font-family: "Roboto Bold";
  font-size: clamp(10.9714285714px,1.4285714286vw,20px);
  text-transform: uppercase;
  color: inherit;
  white-space: inherit;
  text-decoration: none;
}
.b-contacts-inp_sub:hover, .b-lworks-vbtn:hover, .b-head-btn_green:hover {
  animation-name: bor;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.b-lworks-btn, .b-service-item-btn, .b-head-btn_white {
  font-family: "OpenSans SemiBold";
  font-size: clamp(10.9714285714px,1.4285714286vw,20px);
  text-transform: uppercase;
  color: inherit;
  white-space: inherit;
  text-decoration: none;
}
.b-lworks-btn:hover, .b-service-item-btn:hover, .b-head-btn_white:hover {
  animation-name: trans-to, bor;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.b-page__header-line {
  padding: 50px min(120px,8.5714285714vw);
}

.b-page__nav {
  float: right;
}

.b-header-logo {
  display: inline-block;
  text-transform: capitalize;
}

.b-header-nav {
  display: inline-block;
}
@media (max-width: 992px) {
  .b-header-nav {
    display: none;
  }
}
.b-header-nav__item {
  margin-right: 45px;
}
.b-header-nav__item:last-of-type {
  margin: 0;
}
.b-header-nav__item_move {
  margin-right: 10px;
}
.b-header-nav_minw {
  text-align: initial;
  display: none;
  float: right;
}
.b-header-nav_minw::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.b-header-nav-img, .b-header-nav-item {
  vertical-align: middle;
  display: inline-block;
}

@media (max-width: 992px) {
  .b-header-nav_minw {
    display: inline-block;
  }
}

.b-header-nav-item {
  text-transform: capitalize;
  display: inline;
}
@media (max-width: 350px) {
  .b-header-nav-item {
    display: none;
  }
}

.b-header-nav-img {
  height: 10px;
}

.b-head-info {
  display: table;
  width: 100%;
  background: url(../img/header/header-back.png);
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: calc(100vh - 100px - min(25px,1.7857142857vw));
  text-align: center;
  color: white;
}
.b-head-container {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

@media (max-aspect-ratio: 25/17) {
  .b-head-info {
    background: url(../img/header/header-back.png);
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
}

.b-head-content {
  display: inline-block;
}
.b-head-content__post-title {
  margin-top: 25px;
  margin-bottom: 110px;
}
.b-head-content__btn {
  margin-right: min(25px,1.7857142857vw);
  padding: 0 3em;
}
.b-head-content__btn:last-of-type {
  margin: 0;
}
.b-head-content__btn_green {
  padding: 0 calc(3em + 3px);
}

.b-head-btn {
  height: 5em;
}
@media (max-width: 325px) {
  .b-head-btn {
    display: none;
  }
}
.b-head-btn_white {
  font-family: "Roboto Bold";
  border: 3px solid white;
  background: transparent;
}
.b-head-btn_green {
  background: #00897b;
}

.b-abus {
  text-align: center;
}
.b-abus__post-title {
  margin: 35px 0 115px 0;
}
.b-abus__cols {
  margin: auto;
}

.b-page__abus-line {
  padding: 125px min(115px,8.2142857143vw) 0 min(115px,8.2142857143vw);
}

.b-abus-title {
  text-transform: capitalize;
}

.b-abus-post-title {
  white-space: pre;
}
@media (max-width: 1200px) {
  .b-abus-post-title {
    white-space: normal;
  }
}

.b-abus-cols {
  display: flex;
  justify-content: space-between;
  align-items: initial;
  max-width: 1170px;
}
@media (max-width: 768px) {
  .b-abus-cols {
    flex-direction: column;
  }
}
.b-abus-cols__col {
  margin-right: min(30px,2.1428571429vw);
  padding: 0 45px 120px;
}
@media (max-width: 768px) {
  .b-abus-cols__col {
    margin: 0 auto min(30px,2.1428571429vw) auto;
  }
}
@media (max-width: 992px) {
  .b-abus-cols__col {
    padding-bottom: min(120px,8.5714285714vw);
  }
}
.b-abus-cols__col:last-of-type {
  margin: 0;
}
@media (max-width: 768px) {
  .b-abus-cols__col:last-of-type {
    margin: 0 auto;
  }
}

.b-abus-col {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  background: #d6b3b3;
  max-width: 370px;
}
.b-abus-col:hover {
  animation-name: bor;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
.b-abus-col__img {
  margin: 12px 0 40px 0;
}
.b-abus-col__title {
  margin-bottom: 25px;
}

.b-abus-col-title {
  text-transform: capitalize;
}

.b-service {
  background: #e4fdf9;
  text-align: center;
}
.b-service__post-title {
  margin: 35px 0 115px 0;
}

.b-page__service-line {
  padding: 175px min(115px,8.2142857143vw) 115px;
}

.b-service-title {
  text-transform: capitalize;
}

.b-service-post-title {
  white-space: pre;
}
@media (max-width: 1200px) {
  .b-service-post-title {
    white-space: normal;
  }
}

.b-services {
  display: grid;
  grid-template: repeat(2, 440px)/repeat(3, minmax(auto, 370px));
  gap: min(30px,2.1428571429vw);
  justify-content: center;
}
@media (max-width: 768px) {
  .b-services {
    grid-template: repeat(3, 440px)/repeat(2, minmax(auto, 460px));
  }
}
@media (max-width: 576px) {
  .b-services {
    grid-template: repeat(6, 440px)/repeat(1, minmax(auto, 460px));
  }
}
.b-services__item {
  padding: 0 50px;
}

.b-service-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: white;
}
.b-service-item:hover {
  animation-name: appearence;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  background: #00897b;
  color: white;
}
.b-service-item:hover::before {
  background: url(.../../../img/service/service-white-img.png);
}
.b-service-item::before {
  content: "";
  height: 62px;
  width: 56px;
  background: url(.../../../img/service/service-img.png);
}
.b-service-item__btn {
  padding: 1.5em 1em;
}

.b-service-item-title {
  text-transform: capitalize;
}

.b-service-btn-container {
  position: relative;
}
.b-service-btn-container:hover::after {
  animation-name: appearence;
  animation-duration: 0.2s;
  content: "";
  width: 26px;
  height: 31px;
  background: url(.../../../img/service/service-btn.png);
  position: absolute;
  bottom: -15px;
  left: calc(50% - 13px);
}

.b-service-item-btn {
  border: 2px solid;
  white-space: pre;
}
.b-service-item-btn:hover {
  border-color: transparent;
}

.b-lworks {
  text-align: center;
}
.b-lworks__btns {
  margin: auto;
}
.b-lworks__post-title {
  margin: 25px 0 110px 0;
}
.b-lworks__images {
  margin-top: 110px;
}
.b-lworks__vbtn {
  margin-top: 130px;
  padding: 2em 5em;
}

.b-page__lworks-line {
  padding: 130px min(115px,8.2142857143vw);
}

.b-lworks-title {
  text-transform: capitalize;
}

.b-lworks-post-title {
  white-space: pre;
}
@media (max-width: 1200px) {
  .b-lworks-post-title {
    white-space: normal;
  }
}

.b-lworks-btns {
  display: flex;
  justify-content: center;
  align-items: initial;
  max-width: 760px;
}
@media (max-width: 576px) {
  .b-lworks-btns {
    flex-direction: column;
  }
}
.b-lworks-btns__btn {
  padding: 2em;
  margin-right: 20px;
}
@media (max-width: 576px) {
  .b-lworks-btns__btn {
    margin: 0 0 min(30px,2.1428571429vw) 0;
  }
}
.b-lworks-btns__btn:last-of-type {
  margin: 0;
}

.b-lworks-btn {
  border: 2px solid #00897b;
}
.b-lworks-btn:hover {
  animation-name: appearence, bor;
  background: #00897b;
  color: white;
}

.b-lworks-images {
  display: grid;
  grid-template: repeat(2, auto)/repeat(3, 33%);
  gap: min(30px,2.1428571429vw);
  justify-content: center;
}
@media (max-width: 768px) {
  .b-lworks-images {
    grid-template: repeat(3, auto)/repeat(2, 50%);
  }
}
@media (max-width: 576px) {
  .b-lworks-images {
    grid-template: repeat(6, auto)/repeat(1, 100%);
  }
}

.b-lworks-images-container {
  position: relative;
}

.b-lworks-images-img {
  height: auto;
  width: 100%;
}

.b-lworks-images-img-l {
  text-align: center;
  background: black;
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  text-transform: capitalize;
}
.b-lworks-images-img-l::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.b-lworks-images-title {
  vertical-align: middle;
  display: inline-block;
}

.b-lworks-images-img-l:hover {
  animation-name: appearence-h;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  color: white;
}

.b-lworks-vbtn {
  color: white;
  background: #00897b;
}

.b-contacts {
  background: url(../img/contacts/contacts-back.png);
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}
@media (max-aspect-ratio: 35/17) {
  .b-contacts {
    background: url(../img/contacts/contacts-back.png);
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
}
.b-contacts__post-title {
  margin: 35px 0 100px 0;
}
.b-contacts__form {
  margin-top: 80px;
}
@media (max-width: 768px) {
  .b-contacts__icon {
    margin-bottom: 40px;
  }
}
.b-contacts__icon:last-of-type {
  margin: 0;
}

.b-page__contacts-line {
  padding: 110px min(185px,13.2142857143vw);
}

.b-contacts-title {
  text-transform: capitalize;
}

.b-contacts-post-title {
  white-space: pre;
}
@media (max-width: 1200px) {
  .b-contacts-post-title {
    white-space: normal;
  }
}

.b-contacts-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 768px) {
  .b-contacts-icons {
    flex-direction: column;
  }
}
.b-contacts-icon {
  width: 250px;
}
.b-contacts-icon__container {
  margin: 0 auto 40px auto;
}

.b-contacts-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 110px;
  width: 110px;
  background: #3949ab;
}
.b-contacts-icon-container:hover {
  color: #00897b;
  animation-name: trans-to;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.b-contacts-form {
  display: flex;
  flex-direction: column;
}
.b-contacts-form__inp {
  padding: clamp(16.4571428571px,2.1428571429vw,30px) clamp(10.9714285714px,1.4285714286vw,20px);
  margin-top: 30px;
}
.b-contacts-form__inp_sub {
  align-self: flex-end;
}

.b-contacts-form-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .b-contacts-form-head {
    flex-direction: column;
  }
}
.b-contacts-form-head__inp {
  margin-right: 30px;
  padding: clamp(16.4571428571px,2.1428571429vw,30px) clamp(10.9714285714px,1.4285714286vw,20px);
}
@media (max-width: 768px) {
  .b-contacts-form-head__inp {
    margin: 0 0 30px 0;
  }
}
.b-contacts-form-head__inp:last-of-type {
  margin: 0;
}

.b-contacts-inp {
  color: gray;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}
.b-contacts-inp_sub {
  color: black;
  width: clamp(120.6857142857px,15.7142857143vw,220px);
}
.b-contacts-inp_sub:hover {
  animation-name: none;
}