$big-title-fs:60px;
$medium-title-fs:30px;
$small-title-fs:25px;
$big-txt-fs:20px;
$medium-txt-fs:15px;

$txt-bold:'OpenSans Bold';
$txt-semibold:'OpenSans SemiBold';
$txt-regular:'OpenSans Regular';

$title-tt:capitalize;
$title-ws:pre;

$btn-tt:uppercase;
$btn-fill-f:'Roboto Bold';
$btn-fs:20px;
$btn-trans-f:'OpenSans SemiBold';
$btn-back-green:rgb(0,137,123);

$service-block-back:rgb(228,253,249);
$head-block-back:url(../img/header/header-back.png);
$contacts-block-back:url(../img/contacts/contacts-back.png);
$abus-col-back:rgb(214,179,179);
$contacts-icon-container-back:rgb(57,73,171);

$scr-w-xs:350px;
$scr-w-s:576px;
$scr-w-m:768px;
$scr-w-b:992px;
$scr-w-lg:1200px;

$short-a:0.2s;
$xshort-a:0.1s;
